{
  "local": {
    "adminEmail": "admin@example.com",
    "adminPassword": "change-me",
    "studentEmail": "student@example.com",
    "studentPassword": "change-me"
  },
  "staging": {
    "adminEmail": "admin@example.com",
    "adminPassword": "change-me",
    "studentEmail": "student@example.com",
    "studentPassword": "change-me"
  }
}
