# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
.installed.cfg
*.egg


# IDE
.vscode/
.idea/


# Database
*.db
*.sqlite

# Alembic migrations (keep alembic.ini but ignore versions)
migrations/versions/

# Other
face_encodings.pkl  # Add if this is a large binary file
